@charset "UTF-8";

body{
    background-color: rgb(140, 201, 255);
    font-family: Arial, Helvetica, sans-serif;
}
div#Resposta{
    background-color: bisque;
    padding: 12px;
}
input#Button1{
    background-color: rgb(126, 145, 21);
    color: aliceblue;
}
p#p8{
    color: brown;
}