@charset "UTF-8";
body{
    background-color: rgb(248, 230, 208);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgb(54, 41, 49);
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    color: aliceblue;
    -webkit-box-align: center
}
.inputabc{
    border-radius: 4px;
    width: 60px;
        height: 30px;
        border: none;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        font-size: 16px;
        outline: none;
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: textfield;
}
.input-box::-webkit-inner-spin-button,
    .input-box::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .input-box[type=number]::-webkit-outer-spin-button,
    .input-box[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
#resultado{
    float: right;
    color: #86e904;
    background-color: #330301;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}
teste{
  color: #ff0000;
}






.button{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  .button a {
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:18px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:10px 20px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }